.pre {
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 5px;
	overflow-x: auto;
}

.code {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 0.9em;
	color: #333;
}
