.blog {
	width: 100%;
	padding: 2em;
	border-radius: 10px;
	margin-bottom: 1em;
	position: relative;
	transition: ease-in 0.3s;
	--transform-origin: top;
	background: linear-gradient(
		120deg,
		var(--primary-light) -100%,
		var(--primary) 100%
	);
}

.blog::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	z-index: -1;
	height: calc(100% + 5px);
	transition: background ease-out 0.2s, transform ease-out 0.2s;
	background: linear-gradient(90deg, var(--black) -200%, var(--primary) 110%);
	background: var(--black);
	width: calc(100% + 10px);
	transform: translate(-5px, -2.5px) scaleY(0);
	opacity: 0.17;
	transform-origin: var(--transform-origin);
}

.blog:hover::after {
	transform: translate(-5px, -2.5px) scaleY(1);
}

.blog:hover {
	background: linear-gradient(
		150deg,
		var(--primary-lighter) -50%,
		var(--primary) 150%
	);
}

.date {
	opacity: 0.6;
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: 600;
	color: var(--text);
}

.title {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 1.8em;
	font-weight: 600;
	transition: ease-out 0.1s;
	cursor: pointer;
	position: relative;
	width: fit-content;
	z-index: 5;
}

.title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30%;
	height: 4px;
	z-index: -1;
	border-radius: 10px;
	background-color: var(--gray);
	opacity: 0.4;
	transition: ease-out 0.4s;
}

.title:hover {
	color: var(--link2);
}

.title:hover::after {
	background-color: var(--link2);
}

.title mark, .date mark, .desc mark {
	color: var(--text);
	background: transparent;
	position: relative;
	z-index: 3;
}

.title mark::after, .date mark::after, .desc mark::after {
	content: '';
	position: absolute;
	top: 0;
	left: -.2em;
	width: calc(100% + 0.4em);
	height: 100%;
	z-index: -1;
	background: var(--link2);
	opacity: 0.2;
	border-radius: 4px;
}

.title:hover mark {
	color: var(--link2);
}

.blog:hover .title::after {
	opacity: 0.4;
	width: 100%;
}

.desc {
	opacity: 0.9;
	width: calc(100% - 3em);
	margin-top: 0.5em;
	font-size: 1.05em;
}

.fakeBlog {
	width: 100%;
	padding: 2em;
	border-radius: 10px;
	margin-bottom: 1em;
	position: relative;
	transition: ease-in 0.3s;
	--transform-origin: top;
	background: linear-gradient(
		120deg,
		var(--primary-light) -150%,
		var(--primary) 200%
	);
}

.fakeBlogDate {
	opacity: 0.3;
	margin-bottom: 01em;
	height: 1em;
	background: var(--gray);
	width: 10em;
	border-radius: 5px;

	--duration: 2s;
}

.fakeBlogTitle {
	width: 80%;
	opacity: 0.6;
	height: 1.5em;
	background: var(--gray);
	border-radius: 5px;
	margin-bottom: 1.5em;
	
	--duration: 2.9s;
}

.fakeBlogDesc {
	width: calc(100% - 6em);
	opacity: 0.3;
	height: 3em;
	background: var(--gray);
	border-radius: 5px;
	margin-bottom: 0.5em;

	--duration: 3s;
}

.shine {
	position: relative;
	overflow: hidden;
}

.shine::after {
	content: "";
	top: 0;
	transform: translateX(100%);
	width: 100%;
	height: 220px;
	position: absolute;
	z-index: 1;
	opacity: 0.6;
	animation: slide var(--duration) infinite ease-out 0s;

	/* 
	CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
	*/
	background: -moz-linear-gradient(
		left,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(128, 186, 232, 0) 99%,
		rgba(125, 185, 232, 0) 100%
	); /* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0%, rgba(255, 255, 255, 0)),
		color-stop(50%, rgba(255, 255, 255, 0.8)),
		color-stop(99%, rgba(128, 186, 232, 0)),
		color-stop(100%, rgba(125, 185, 232, 0))
	); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(
		left,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(128, 186, 232, 0) 99%,
		rgba(125, 185, 232, 0) 100%
	); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(
		left,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(128, 186, 232, 0) 99%,
		rgba(125, 185, 232, 0) 100%
	); /* Opera 11.10+ */
	background: -ms-linear-gradient(
		left,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(128, 186, 232, 0) 99%,
		rgba(125, 185, 232, 0) 100%
	); /* IE10+ */
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(128, 186, 232, 0) 99%,
		rgba(125, 185, 232, 0) 100%
	); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

@media only screen and (max-width: 768px) {
	.blog:hover .title::after {
		width: 30%;
		opacity: 0.1;
	}

	.title::after {
		opacity: 0.1;
	}
}
